---
import "@apexui/tokens/css";
import "../styles.css";
---
<html lang="en" data-apex-theme="rose-light"><body><script>import { defineCustomElements } from "@apexui/web-components/loader"; defineCustomElements();</script><slot /></body></html>
