---
import "@apexui/tokens/css";
import "../styles.css";
---
<html lang="en" data-apex-theme="rose-light"><body><script type="module">import "@apexui/web-components/components/apex-alert.js"; import "@apexui/web-components/components/apex-app-bar.js"; import "@apexui/web-components/components/apex-badge.js"; import "@apexui/web-components/components/apex-button.js"; import "@apexui/web-components/components/apex-card.js"; import "@apexui/web-components/components/apex-chart.js"; import "@apexui/web-components/components/apex-data-table.js"; import "@apexui/web-components/components/apex-progress.js"; import "@apexui/web-components/components/apex-stack.js"; import "@apexui/web-components/components/apex-switch.js"; import "@apexui/web-components/components/apex-textarea.js"; import "@apexui/web-components/components/apex-tree-view.js"; import "@apexui/web-components/components/apex-typography.js"; import "@apexui/web-components/components/apex-search-form.js"; import "@apexui/web-components/components/apex-rating.js"; import "@apexui/web-components/components/apex-image-list.js"; import "@apexui/web-components/components/apex-empty-state.js";</script><slot /></body></html>


